* {
	box-sizing: border-box;
	font-family:"SFMono-Regular";
	margin: 0 auto;
	text-align: center;
}

header {
	background-color: #000;
	color: #fff;

}

a {
	color: #fff;
	text-decoration: none;	

}

ul {
	padding-left: 0;
	padding-bottom: 1em;
}

li {
	list-style: none;
}

.clear {
	clear: both;
}

.header-left {
	float: left;
	font-weight: bold;
	padding-left: 2em;
	padding-top: 1em;
}

.header-right {
	text-align: right;
}

.header-left a:hover {
	color: #878787;
}

.menu-bar:hover {
	cursor: pointer;
}

.header-right a:hover {
	color: #878787;
}

.top-wrapper {
	background-color: #000;
	border-top: 0;
	color: #fff;
	padding: 5em 2em;
}

.fab {
	font-size: 3em;
}

.top-wrapper h1 {
	margin: 0.25em auto;
}

.top-wrapper p {
	margin: 0 auto 1.5em auto;
	opacity: 0.8;
}

/* button */
.button-wrapper {
	margin-bottom: 2em;
}

.btn {
	border: 1px solid gray;
	border-radius: 5px;
	color: blue;
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 0.5em;
	text-decoration: none;
	cursor: pointer;
}

.btn:hover {
	background-color: blue;
	border: 1px solid blue;
	color: white;
	cursor: pointer;
}

.register {
	background-color: #28a745;
	border: 1px solid #28a745;
	color: white;
	cursor: pointer;
}

.register:hover {
	background-color: #1d7c34;
	border: 1px solid #1d7c34;
	color: white;
	cursor: pointer;
}

.signup {
	background: #000;
	color: #fff;
	cursor: pointer;
	margin-bottom: 2em;
}

.signup:hover {
	background: #fff;
	border: 1px solid #878787;
	color: #000;
	cursor: pointer;
	margin-bottom: 2em;
}

.partner {
	border: 1px solid gray;
	color: #fff;
}

.partner:hover {
	background-color: #fff;
	border: 1px solid gray;
	color: #000;
}


.feature-wrapper {
	background-size: cover;
}

.team-wrapper {
	border-bottom:1px solid gray;
	padding: 5em 2em;
}

.heading h6 {
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0;
	padding-top : 3em;
}

.heading p {
	font-size: 1.25em;
	margin: 0 auto 1.5em auto;
}

.team h3 {
	font-size: 2em;
	font-weight: normal;
}

.security-wrapper {
	border-bottom:1px solid gray;
	padding: 5em 2em;
}

.hosting {
	border: 1px solid gray;
}

.hosting a {
	color: blue;
}

.integration-wrapper {
	border-bottom:1px solid gray;
	padding-bottom: 3em;
}

.integration-image img {
	border: 1px solid gray;
	border-radius: 50%;
	height: 60px;
	padding: 20px;
	width: 60px;
}

.footing a {
	color: blue;
}

.community-wrapper {
	padding-bottom: 3em;
}

.community-link {
	display: inline-block;
}

.community-link a {
	color: #fff;
	text-decoration: none;
}

.community-link h3 {
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 0;
}

.community-link p {
	font-size: 0.75em;
	margin-top: 0;
}

.link-orange {
	background-color: orange;
	border-radius: 50%;
	display: inline-block;
	height: 200px;
	width: 200px;
}

.link-blue {
	border-radius: 50%;
	background-color: blue;
	display: inline-block;
	height: 175px;
	width: 175px;
}

.link-purple {
	background-color: purple;
	border-radius: 50%;
	display: inline-block;
	height: 150px;
	width: 150px;
}

.trial-wrapper {
	background-color: #000;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.trial-wrapper {
	font: bold;
	margin-top: 0;
}


footer .container {
	background-color: #fff;
	color: #000;
}

.footer-left {
	float: left;
	font-weight: bold;
	padding-left: 2em;
	padding-top: 1em;
}

.footer-left a {
	color: #000;
}

.footer-left a:hover {
	color: #878787;
}

.footer-right li {
	float: left;
	margin-left: 2em;
	margin-right: 0em;
	padding-top: 2em;
}

.footer-right a {
	color: #000;
}

.footer-right a:hover {
	color: #878787;
}

.hoverMenu-wrapper a {
	color: #000;
	float: left;
	height: 50px;
	padding: auto 1em;
	width: 14%;
}

.form-wrapper {
	background-color: #000;
	color: #fff;
}

.form-wrapper .container {
	width: 75%;
}

.form-check {
	margin-bottom: 2em;
	text-align: left;
	width: 75%;
}

.form-check p {
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;	
}

.form-check label {
	font-size: 0.75em;
	font-weight: bold;
	opacity: .75;
	padding-right: 2em;
}

.form-input {
	margin-bottom: 2em;
	width: 75%;
}

.form-input p {
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
}

.form-input input {
	text-align: left;
	width: 100%;
}

.form-input textarea {
	text-align: left;
	width: 100%;
}


.form-select {
	margin-bottom: 2em;
	text-align: left;
	width: 75%;
}


.form-select p {
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;	
}

.form-select select {
	width: 100%;
}

.form-radio {
	margin-bottom: 2em;
	text-align: left;
	width: 75%;
}

.form-radio p {
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;	
}

.form-radio label {
	padding-right: 2em;
}

.contact-wrapper h2 {
	font-weight: normal;
	margin: 1em auto;
	text-align: left;
	width: 75%;
}
