@media(min-width: 1101px){
	.container {
		width: 1000px;
	}

	.btn {
		width: 170px;
	}

	.header-left {
		padding-right: 25em;
	}
	
	.header-right li {
		float: left;
		margin-left: 2em;
		margin-right: 0em;
		padding-top: 2em;
	}

	.header-right a:hover {
		color: #878787;
	}

	/*
	.menu-bar {
		display: none;
	}
	*/

	#nav-input {
		display: none;
	}

	#nav-open {
		display: none;
	}

	.nav-unshow {
		display: none;
	}

	.heading p {
		width: 600px;
	}

	.top-wrapper h1 {
		font-size: 4em;
	}

	.top-wrapper p {
		font-size: 1.5em;
	}
	
	.team-image img {
		float: left;
		width: auto;
		max-height: 450px;
	}

	.teams {
		max-height: 450px;
	}

	.team {
		height: 150px;
	}

	.security-image img {
		float: right;
		width: auto;
		max-height: 450px;
	}

	.security {
		height: 225px;
	}
	
	.hosting {
		width: 600px;
	}
	
	.trial-wrapper p {
		font-size: 1.5em;
	}

	.footer-left {
		padding-right: 25em;
	}
}

@media(max-width: 1100px){
	.container {
		width: 100%;
	}

	.header-left {
		padding-right: 0;
	}

	.header-right {
		padding-top: 2em;
	}

/*
	.menu-bar {
		display: inline-block;
		float: right;
		margin-left: 2em;
		margin-right: 2em;
		padding-top: 2em;
		color: #fff;
	}
*/	
/*
	.nav-unshown {
		display: none;
	}
*/
	.nav-content {
		display: none;
		float: none;
	}

	#nav-input:checked ~ .nav-content {
		display: block;
		opacity: .5;
		width: 100%;
	}
	


/*	
	.header-right li {
		float: none;
		margin: 0;
	}
*/	
	
	.btn {
		width: 170px;
	}

	.top-wrapper h1 {
		font-size: 3em;
	}
	
	.top-wrapper p {
		font-size: 1em;
		width: 90%;
	}

	.feature-wrapper img {
		width: 100%;
		background-size: cover;
	}

	.heading h1 {
		font-size: 3em;
	}

	.heading p {
		width: 65%;
	}

	.team-image img {
		max-width: 25%;
		height: auto;
	}

	.team {
		margin: 2em auto;
		width: 65%;
	}

	.security-image img {
		max-width: 25%;
		height: auto;
	}

	.security {
		margin: 2em auto;
		width: 65%;
	}

	.hosting {
		width: 65%;
	}

	.trial-wrapper p {
		font-size: 1em;
		width: 90%;
	}

}

@media(max-width: 700px){
	.heading p {
		width: 100%;
	}

	.top-wrapper p {
		font-size: 1em;
		width: 100%;
	}

	.btn {
		width: 100%;
	}

	.team {
		width: 80%;	
	}

	.security {
		width: 80%;
	}
}
